<h1>Wine!</h1>

<h2>Wines you have drank!</h2>

<ul>
  {{#each wine}}
    {{#unless drank}}
      {{> wine/wine-block drank=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Wine that has not been drank!</h2>

<ul>
  {{#each wine}}
    {{#if drank}}
      {{> wine/wine-block drank=false}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a Wine</h2>
<form class="create-form">

    <div class="form-group">
        <label for="wine">Wine Name:</label>
        <input type="text" id="wine" name="name">
    </div>

    <button type="submit">Add a Wine</button>

</form>