.winery {
  background: url(../img/people-toasting.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;

  font-family: 'Acme', sans-serif;
  /* font-weight: 300; */
  cursor: pointer;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px; 
  opacity: .9;
}

 #jumbo{
  background: #f4d06f;
  border-radius: 5px;
  color: whitesmoke;
 }
 
#wineTry{
  color: whitesmoke;
}

#submit{
  background-color:#FF836C
}

#name{
  color: #FF836C
}

.change-taste{
  background-color: #f4d06f;
}

.col-md-12 {
  background: #f4d06f;
  border-radius: 5px;
  padding: 20px;
  color: whitesmoke;
}

li {
    padding: 5px;
    margin: 5px;
    background: #FF836C;
    color: whitesmoke;
  }
 
